#sudo ls -la /var/lib/jenkins/config/docker.env.properties
#-rw------- 1 jenkins jenkins 63 Jun 23 16:30 /var/lib/jenkins/config/docker.env.properties

# This file is stored on Jenkins server.
# Location is stored in global jenkins variable.
# Jenkinsfile can read env variables from there to use in pipeline.
CHROME_VERSION=126.0.6478.62
CHROME_DRIVER_VERSION=126.0.6478.62
CHROME_DRIVER_PATH="/usr/local/bin/chromedriver"
# To avoid python module issues
PYTHONPATH=.
# Set the display port to avoid issues with headless mode
SELENIUM_HEADLESS_MODE_DISPLAY_PORT=99

CONTAINER_APP_PORT=80
PUBLISHED_APP_PORT=8777
IMAGE_NAME="avrahamm/ci-cd-clock-proj:testing.1"
WORKDIR="/usr/src/app"

UPDATE_CLOCK_TIME_INTERVAL=10
CLOCK_APP_URL="http://localhost:80"
REFRESH_INTERVAL=25
TIME_FORMAT="%Y-%m-%d %H:%M:%S"
OUTPUT_FILE_PATH="/usr/share/nginx/html/myclock.html"


