# This file is stored on Jenkins server.
# Location is stored in global jenkins variable.
# Jenkinsfile can read env variables from there to use in pipeline.
DOCKER_REGISTRY=public.ecr.aws
CHROME_VERSION=128.0.6613.113
CHROME_DRIVER_VERSION=128.0.6613.113
CHROME_DRIVER_PATH=/usr/local/bin/chromedriver
# To avoid python module issues
PYTHONPATH=.
# Set the display port to avoid issues with headless mode
SELENIUM_HEADLESS_MODE_DISPLAY_PORT=99

CONTAINER_APP_PORT=80
PUBLISHED_TEST_APP_PORT=8777
PUBLISHED_PROD_APP_PORT=8778
#IMAGE_NAME=avrahamm/ci-cd-clock-proj
IMAGE_NAME=public.ecr.aws/f1o0b5v7/ci-cd-clock-proj
WORKDIR=/usr/src/app

UPDATE_CLOCK_TIME_INTERVAL=10
CLOCK_APP_URL=http://localhost:80
REFRESH_INTERVAL=25
TIME_FORMAT="%Y-%m-%d %H:%M:%S"
FEATURE_OUTPUT_FILE_PATH=/usr/share/nginx/html/myclock.html
TEST_OUTPUT_FILE_PATH=/usr/share/nginx/html/myclock.html
PROD_OUTPUT_FILE_PATH=/var/lib/nginx/html/myclock.html
FEATURE_CONTAINER_NAME=clock-feature
TEST_CONTAINER_NAME=clock-test
PROD_CONTAINER_NAME=clock-production
